body{
    margin: 0;
}
.container{
    background:url(../img/food.jpg);
    background-size:cover;
    height: 80vh;

}
.header{
display: flex;
justify-content:space-between;
align-items: center;
width: 100%;
height: 10vh;
background-color: orange;
margin-top: 0;


}
.left{
    margin-left: 10px;
    font-size: 30px;
    color:white;
    

}
.right{
    display:flex;
    width:50%;
    justify-content: space-around;
    margin-right: 20px;

     /* ask why spacearound was better here */
}
h2{
    color: cornsilk;

}
a {
    text-decoration: none;
    color: #fff;
}
.content{
    
}
.main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0,0,0,.5);
        height: 80vh;
        width: 100%;
        color: cornsilk;
}
.heading{
display: flex;
flex-direction: column;
align-items: center;
}
.content-h{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;
    color: cornsilk;
}
.under{

}
.button{
    border: 1px solid white;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover{
    background-color: darkorange;
    transition:all 0.5s ease-in;
}

.center-meal {
    display: flex;
    flex-direction: row;
}
.today{
    margin-top: 5rem;
    background-color: #f3f1f0;
    color: #f19433;
}
.today-menu{
    padding-top: 20px;
    text-align: center;
}
.today-meal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 60vh;
}
.meal-info {
    display: flex;
    flex-direction: column;
    border: 1px solid #deddd8;
    width: 40%;
    height: 400px;
    margin: 10px;
    outline: none;
    padding: 0;
}
.get-meal {
    height: 60%;
}
.foodD {
    background-color: #fff;
    height: 30%;
    padding: 10px 15px;
}
#order-now {
    height: 15%;
    text-align: center;
    background-color: #f19433;
    border: none;
    /* border-top: 1px solid grey; */
    outline: none;
    font-size: 24px;
    color: #fff;
}
.bookings {
    flex: 30vw;
    background-color: #fff;
}
#bookings-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bookings-h {
    text-align: center;
}
.bookings-info {
display: flex;
flex-direction: column;
width: 70%;
}
.get-meal {
    height: 60%;
}
.pay {
    display: flex;
    flex-direction: row;
}
.incre {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.incre-btn {
    width: 50%;
    border: 0 1px 0 0;
    border: none;
    padding: 5px;
    color: #fff;
    background-color: #ec9317;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}
.pay-btn {
    width: 50%;
    border: 0 1px 0 0;
    padding: 5px;
    font-size: 20px;
    background-color: #ec9317;
    color: #fff;
    margin: 0;
    border: none;
    margin-top: 10px;
}